.noticeList{
    margin: 5% 5%  1% 5%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    i{
        font-size: 20px;
        margin-left: 20px;
    }
    span{
        margin-left: 10px;
        font-size: 20px;
    }
}