<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PhotographyMapper">

    <resultMap id="BaseResultMap" type="com.example.pojo.Photography">
            <id property="pid" column="Pid" jdbcType="INTEGER"/>
            <result property="url" column="Url" jdbcType="VARCHAR"/>
            <result property="createtime" column="CreateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        Pid,Url,CreateTime
    </sql>
    <select id="selectAllPhotographies" resultType="com.example.pojo.Photography">
        SELECT * FROM photography
    </select>
</mapper>
