<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReviewsMapper">

    <resultMap id="BaseResultMap" type="com.example.pojo.Reviews">
            <id property="rid" column="Rid" jdbcType="INTEGER"/>
            <result property="reviews" column="Reviews" jdbcType="VARCHAR"/>
            <result property="aid" column="Aid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        Rid,Reviews,Aid
    </sql>
</mapper>
