//Homepage
// 开发颜色使用
$c1:#EF7C8E;
$c2:#FAE8E0;
$c3:#B6E2D3;
$c4:#D8A7B1;
$c5:#67595E;

// 侧边距
$sideMargin:60px;
// 顶边距
$cardHeight:50px;
//卡片风格
@mixin cardStyle{ 
    border-radius:20px ;
    
    
}

